calendar-manager-bot-setup.json
{
  "name": "Calender Manager",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -640,
        -96
      ],
      "id": "20355339-1be6-4ca4-9283-eaa9b9b8cc99",
      "name": "Telegram Trigger",
      "webhookId": "4eba5479-7d7d-41b8-b857-2aa46a724bc8",
      "credentials": {
        "telegramApi": {
          "id": "KuDqpvVYUYWpMNd5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are an intelligent English Calendar Management Agent to help users manage their calendar create tasks.\n*****\nIf I'm just pasting the normal text with information, it means. You have to create an event.\n*****\nCheck How many different events are there, if there are mutiple handle them one after another.\nExtract the Title,time,date and Description from the the raw text.\nIn Case end time is not given then end. End time = Stat time + 1 Hour.\n*****\nThings to Extract\n1. Title\n2. Start Date and Time\n3. End Date and Time\n4. Description\n\nBehavior Rules: \n1 Always confirm important scheduling details before creating or modifying events if ambiguity exists.\n2 If time/date is missing, ask concise follow-up questions.\n3 Convert relative dates properly.\n4 If time/date is missing, ask concise follow-up questions.\n5 Convert relative dates properly.\n*You are responsible for reliable scheduling assistance and calendar organization.*\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -144,
        -160
      ],
      "id": "a768dc54-6dd1-4e16-8754-9ff55488d7dd",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "pgill.singh07@gmail.com",
          "mode": "list",
          "cachedResultName": "pgill.singh07@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "useDefaultReminders": false,
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        },
        "remindersUi": {
          "remindersValues": [
            {
              "method": "popup",
              "minutes": 30
            },
            {
              "method": "popup",
              "minutes": 360
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        16,
        48
      ],
      "id": "4dd32441-b7b8-431e-b07b-2049fcaaae3b",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YQBIw0Hp2cWbT93z",
          "name": "Google Calendar OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -288,
        48
      ],
      "id": "7752c100-6df5-41fb-9dac-2abb93aa9eb3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "vNqhsTa6tK9EFr9l",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "pgill.singh07@gmail.com",
          "mode": "list",
          "cachedResultName": "pgill.singh07@gmail.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        256,
        48
      ],
      "id": "b6d49f8a-0152-4aed-b429-3a49e4cfee47",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YQBIw0Hp2cWbT93z",
          "name": "Google Calendar OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "1"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -144,
        48
      ],
      "id": "c0e6312a-5104-47ef-ba81-549fc1772a90",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        208,
        -176
      ],
      "id": "13ea6b52-92cb-400b-9923-a622e134d735",
      "name": "Send a text message",
      "webhookId": "0e97e8db-f1b0-4608-af9b-1c94ab46d3a8",
      "credentials": {
        "telegramApi": {
          "id": "KuDqpvVYUYWpMNd5",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4f55642f-05e5-4b54-8599-cdccceabde73",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1039637189eb56ba8be1713447c6c22d496fdb698d3996207eb8da5fea7b4057"
  },
  "id": "MNzctlMcghU5TjTk",
  "tags": []
}